/* TODO: Centrar la navegación vertical y horizontalmente usando Flexbox */
body {
    height: 100vh;
    margin: 0;
    display: flex;

    align-items: center;
    
    /* Agrega display flex y propiedades de alineación */
    }  
    .barra-navegacion{
        width: 100%;
    } 
    /* TODO: Quitar las viñetas de la lista */
    ul {
    list-style: none;
    padding: 0;
    /* Agrega display flex para alinear los elementos en línea */
    display: flex; 
    justify-content: space-around;

   
    /* Puedes usar gap o márgenes para separar los elementos */
    }
    /* TODO: Estilo base de los enlaces */
    a {
    color: black;
    text-decoration: none;
    /* Quita el subrayado */
    /* Establece color negro */
    }
    /* TODO: Estilo cuando el mouse pasa sobre el enlace */
    a:hover {
        color:blue; 
    /* Cambia el color a azul */
    }
    